.post-title {
  font-size: 40px;
  font-weight: 700;
  color: #ff9770;
  margin: 0 0 10px;
}
.form {
    width: 70%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 700;
  }

  .form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-img-prev {
    max-width: 95%;
    height: 300px;
    border: 1px solid lightgray;
    margin-top: 20px;
  }
  
  .form-input-box {
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px auto;
  }
  
  .form-text-box {
    width: 90%;
    margin: 3px auto 10px;
  }

  .form-text-box > p {
    margin: 0 0 7px;
  }

  textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    font-family: 'Open Sans','Courier New', Courier, monospace;
    font-size: 12px;
  }


  @media (max-width: 685px) {
    .content-box {
      height: 90vh;
    }
    .post-title {
      font-size: 30px;
    }
    .form-img-prev {
      height: 50%;
      width: 50%;
    }
    textarea {
      height: 20vh;
      margin-bottom: 30px;
    }
    .dark-button {
      position: relative;
      right: 10%;
    }
  }

  @media (max-width: 480px){
    .post-title {
      font-size: 25px;
      text-align: center;
    }
    textarea {
      margin-bottom: 10px;
    }
    .form-img-prev {
      height: 70%;
      width: 70%;
    }
    .dark-button {
      position: relative;
      right: 10%;
    }
  }
